 <div ng-controller="BlogInfiniteScroll">
 	<div class="row">
 		<div class="col-sm-12 col-md-6 col-md-offset-3">
 			<h1>A BANDIT RERISE ONION BLOG</h1>
 			<div infinite-scroll='nextPage()' infinite-scroll-distance='5'>
 				<div ng-repeat="post in posts">
 					<div class="thumbnail">
 						<h3><a ui-sref="details ({postId: post.id })" ui-sref-active="active">{{post.title.rendered}}</a></h3>
 						<p><i>{{post.date | date}}</i></p>
 						<p ng-bind-html = "post.content.rendered | limitTo : 150">...</p>
 						<a class="btn btn-danger" ng-click='delete(post.id)'>Suppr.</a>
 					</div>
 				</div>
 				  <div ng-show='busy'>Loading data...</div>
 			</div>
 		</div>
 		<dir class="col-md-3"></dir>
 	</div>
 </div>

