 <div ng-controller="BlogCtrl">
 	<div class="row">
 		<div class="col-sm-12 col-md-6 col-md-offset-3">
 			<h1>A BANDIT RERISE ONION BLOG</h1>
 			<div ng-repeat="post in posts">
 				<div class="thumbnail">
 					<h3><a ui-sref="details ({postId: post.id })" ui-sref-active="active">{{post.title.rendered}}</a></h3>
 					<p><i>{{post.date | date}}</i></p>
 					<div class="aligne" ng-repeat="tag in tags">
 						<div ng-repeat="tag2 in post.tags">

 							<p><span ng-if="tag2 == tag.id" class="label label-info">{{tag.name}}</span><p>
 						</div>
 					</div>
 					<p ng-bind-html = "post.excerpt.rendered">...</p>
 					<a class="btn btn-danger" ng-click='delete(post.id)'>Suppr.</a>
 				</div>
 			</div>
 		</div>
 		<dir class="col-md-3"></dir>
 	</div>
 </div>

	 <div infinite-scroll="nextPage()" infinite-scroll-distance="3">
	 	<div class="row">
	 		<div class="col-sm-12 col-md-6 col-md-offset-3">
	 			<h1>A BANDIT RERISE ONION BLOG</h1>
	 			<div ng-repeat="post in posts">
	 				<div class="thumbnail">
	 					<h3><a ui-sref="details ({postId: post.id })" ui-sref-active="active">{{post.title.rendered}}</a></h3>
	 					<p><i>{{post.date | date}}</i></p>
	 					 <p ng-bind-html = "post.content.rendered | limitTo : 150">...</p>
	 					 <a class="btn btn-danger" ng-click='delete(post.id)'>Suppr.</a>
	 				</div>
	 			</div>
	 		<dir class="col-md-3"></dir>
	 	</div>
	</div>
</div>
