 <div ng-controller="DetailsCtrl" class="margeBottom">
 	<h1>Details du post</h1>
  <h3 style="text-align:center;">{{test.title.rendered}}</h3>
  <label>Date:</label>
    <p>{{test.date}} {{test.id}}</p>
    <div class="aligne" ng-repeat="tag in tags">
    	<div ng-repeat="tag2 in test.tags">

    		<p><span ng-if="tag2 == tag.id" class="label label-info">{{tag.name}}</span><p>
    		</div>
    	</div>
    <div>
      <label>Contenu:</label>
      <p ng-bind-html = "test.content.rendered"></p>
      <label>Commentaires :</label>
      <div ng-repeat="comment in comments  | orderBy : 'date'">
        <div ng-if= 'comment.post == test.id'>
          <span><b>{{ comment.author_name }} : </b></span>
          <p ng-bind-html = 'comment.content.rendered'></p>
        </div>
      </div>
    </div>
    <!-- <div>
      <input type="text" ng-model='newComment'></input>
      <a class="btn btn-success" ng-click='postComment'>Valider</a>
    </div> -->
      <a class="btn btn-success" ng-click='showTag = true' ng-hide="showTag">Ajouter tag</a>
      <input type="text" ng-model="newTag" ng-show="showTag">
      <a class="btn btn-success" ng-show="showTag" ng-click='addTag()'>Valider</a>
      <a class="btn btn-primary" ui-sref="blog" ui-sref-active="active">Back</a>
      <a class="btn btn-warning" ui-sref="update ({postId: test.id })" ui-sref-active="active">Update post</a>
</div>
