 <div ng-controller="Givme5Ctrl">
 	<h1>5 derniers posts "A Bandit Rerise Onion"</h1>

 	<ol>
    <li ng-repeat="post in posts | limitTo: 5">
      <h5>{{post.date | date : 'fullDate'}}</h5>
      <span>id wordpress {{post.id}}</span>
      <!-- https://docs.angularjs.org/api/ng/directive/ngRepeat -->
      <a ng-click="showPost($index)">{{post.title.rendered}}</a>
    </li>
    <span>{{ message }}</span>
  </ol>

  <h1>Details du post<span> index {{testId+1}}</span></h1>
    <label>Date:</label>
    <p>{{test.date | date : 'fullDate'}}</p>
    <label>Contenu:</label>
    <p ng-bind-html = "test.content.rendered"></p>
    <label>Title:</label>
    <p>{{test.title.rendered}}</p>
    <div class="btn-block">
      <li class="btn btn-primary previous"><md-button ng-click="previousPost()">Previous</md-button></li>
      <li class="btn btn-primary next pull-right"><md-button ng-click="nextPost()">Next</md-button></li>
    </div>
</div>