 <div ng-controller="HomeCtrl">
 	<h1 class="text-center">A Bandit Rerise Onion</h1>
 	<br>
 	<h3 class="text-center">Un site qui tue mémé avec un pistolééééééééééééé !!!!</h3>
 	<br>
 	<div class="row">
 	<div class="col-md-offset-2 col-md-8">
 			<p>OIGNON ou OGNON tel est la question ? Sur ce site aucunement nous n'y répondrons. Tout ce qu'on veut c'est vous volez votre poingon avec un site tout bidon !</p>
 		</div>
 	</div>
 	<img class="oignon" src="oignon-bandit.jpg" alt="oignon-bandit" width="50%">
 </div>
