 <div ng-controller="Givme5BetterWayToDoItCtrl">
 	<div class="row">
 		<div class="col-sm-12 col-md-6 col-md-offset-3">
 			<h1>A BANDIT RERISE ONION LAST5</h1>

 			<div class="thumbnail">
 				<div class="form-group">
 					<h3>Nouveau post</h3>
 					<label for="title">titre</label>
 					<input class="form-control" id="title" type="text" ng-model="blog.title">
 					<label for="content">contenu</label>
 					<textarea id="content" class="form-control" ng-model="blog.content"></textarea> <br>
 					<button class="btn btn-success" ng-click="create()">valider</button>
 				</div>
 			</div>
 			<div class="thumbnail">
 				<div class="form-group">
 					<label for="search">recherche</label>
 					<input type="text" class="form-control" name="search" ng-model="search">
 				</div>
 			</div>
 			<div ng-repeat="post in posts | filter : search">
 				<div class="thumbnail">
 					<h3><a ui-sref="details ({postId: post.id })" ui-sref-active="active">{{post.title.rendered }}</a></h3>
 					<p><i>{{post.date | date}}</i></p>
 					<div class="aligne" ng-repeat="tag in tags">
 						<div ng-repeat="tag2 in post.tags">
 							
 							<p><span ng-if="tag2 == tag.id" class="label label-info">{{tag.name}}</span><p>
 							</div>
 						</div>
 						<p ng-bind-html = "post.content.rendered"></p>
 						<a class="btn btn-danger" ng-click='delete(post.id)'>Suppr.</a>
 						<a class="btn btn-success" ng-click='showTag = true' ng-hide="showTag">Ajouter tag</a>
 						<input type="text" ng-model="newTag" ng-show="showTag">
 						<a class="btn btn-success" ng-show="showTag" ng-click='addTag()'>Valider</a>
 					</div>
 				</div>
 			</div>
 			<dir class="col-md-3"></dir>
 		</div>
 	</div>