<div ng-app="app">
  <div ng-controller="PostCarouselCtrl" id="slides_control2">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="postSlide in postSlides" active="slide.active">
          <!-- <img ng-src="{{postSlides.content.rendered}}"> -->
                   <div ng-bind-html = "postSlide.content.rendered"></div>
<!--                     <div>{{postSlide}}</div>
 -->
          <div class="carousel-caption">
            <h4>postSlides {{$index+1}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>