 <div ng-controller="PrevNextBorisCtrl">
 	<li class="btn btn-primary" ng-disabled="first"><md-button ng-click="previousPost()">Previous</md-button></li>
    <li class="btn btn-primary" ng-disabled="last"><md-button ng-click="nextPost()">Next</md-button></li>
    <a class="btn btn-warning" ui-sref="update ({postId: post.id })" ui-sref-active="active">Update</a>
 	<h1>Post numéro : {{post.id}}</h1>
    <label>Date:</label>
    <p>{{post.date | date : 'fullDate'}}</p>
    <label>Title:</label>
    <p>{{post.title.rendered}}</p>
    <label>Content:</label>
    <p ng-bind-html = "post.content.rendered"></p>
</div>