<div ng-controller="RandomCtrl">
	<h1>A Random Post</h1>
	<div class="col-md-offset-3 col-md-9">
		<div ng-repeat="post in posts | orderBy:random | limitTo: 1">
			<h3>Titre du post : {{post.title.rendered}} </h3>
			<label>Date:</label>
			<p>{{post.date}}</p>
			<label>Contenu:</label>
			<p ng-bind-html = "post.content.rendered"></p>
		</div>
	</div>
</div>
<br>
<div ng-controller="AnotherRandomCtrl">
  <h1>Another Random Post</h1>
  <div class="col-md-offset-3 col-md-9">
 	  <ul style="list-style: none;">
      <li ng-repeat="post in posts | orderBy:random | limitTo: 1">
        <h3>Titre du post : {{post.title.rendered}} </h3>
        <span> {{post.date}} </span>
      </li>
    </ul>
  </div>
</div>
