 <div ng-controller="UpdateCtrl">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" ng-model="title">
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <input type="text" class="form-control" id="content" ng-model="content">
    </div>
    <a class="btn btn-warning" ng-click='update(post.id)'>Validate</a>
    <a class="btn btn-primary" ui-sref="prevNextBoris">Cancel</a>
</div>