@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Graduate|Nova+Square');

footer {
    background-color: black;
    position: fixed;
    /*height: 100px;*/
    bottom: 0;
    padding-top:14px;
    width: 100%;
    font-size: 0.8em;
    z-index: 10000;
    color: white;
}

.btn-block {
margin-bottom:50px;
}

body {
  background-image: url('../img/tumblr_nok7xmNeCJ1s0ckx6o1_1280.png');
  /*background-image: url('../img/tumblr_nzfbp9m4181rk6zeco1_1280.jpg');*/
}

.content {
  background: rgba(255, 255, 255, 0.6);
  padding: auto;
}

h2, h1 {
  /*font-family: 'Bungee', cursive;*/
  /*font-family: 'Graduate', cursive;*/
  font-family: 'Nova Square', cursive;
  /*font-family: 'Bungee Shade', cursive;*/
  color:#27181F;
}


/*Slider 3 images*/

#slides_control > div{
  margin-top: 120px;
  height: 300px;
}

#slides_control2 > div{
  margin-top: 150px;
  position: relative;
/*  top: 400px;
*/background-color: white;
  padding: 20px;
  height: 600px;
}

 .carousel h4{
/*  position: relative;
*/  top:160px;
}

img{
/*  margin:auto;
*/  width: 600px;
}

#slides_control, #slides_control2 {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}


.oignon {
  width : 60%;
  margin-left: 20%;
  margin-right: 20%; 
}

.aligne {
  display: inline-block;
  margin-right: 1px;
}
.margeBottom {
  margin-bottom: 70px;
}